/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
/*
 * FlowupLabels Basic Stylesheet
 * -----------------------------
 * This style sheet is marked with comments indicating
 * what should and what shouldn't be changed for your
 * styling purposes.
 */
.FlowupLabels .fl_wrap {
  /* Can change */
  width: 300px;
  height: 46px;
  margin: 12px auto;
  /* change 0 to auto for center alignment */
  /* Don't change */
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* initial label state */
.FlowupLabels .fl_label {
  /* Can change */
  top: 15px;
  left: 5px;
  /* Don't change */
  position: absolute;
  z-index: 3;
  /* This can be removed but then the labels must be placed after the inputs in the HTML */
  -webkit-transition: all .05s linear;
  -moz-transition: all .05s linear;
  -transition: all .05s linear; }

.FlowupLabels .fl_input {
  /* Can change */
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  border-radius: 0;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 0 0 5px;
  /* Don't change */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  /* This can be removed but then the labels must be placed after the inputs in the HTML */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Focus & populated label styling */
.FlowupLabels .fl_wrap.focused .fl_label,
.FlowupLabels .fl_wrap.populated .fl_label {
  /* Can change */
  top: 0;
  font-size: 12px;
  color: #555; }

.FlowupLabels .fl_wrap.focused .fl_label {
  /* Can change */
  color: #00A34D; }

html {
  height: 100%; }

body {
  width: 1100px;
  min-height: 100%;
  margin: auto;
  background: #E9E9E9;
  font-family: "Roboto", sans-serif; }
  body #wrapper {
    height: 100%;
    overflow: auto;
    background-color: #e9e9e9; }
  body #banner {
    height: 105px;
    padding: 10px 0px 0px 0px;
    position: relative;
    color: #f56943;
    text-align: center; }
    body #banner #main-logo {
      display: inline-flex; }
      body #banner #main-logo .logo-text {
        color: #0A723B;
        font-size: 1.4em;
        margin: 36px 10px; }
      body #banner #main-logo #logo {
        margin: auto;
        height: 90px;
        width: 90px;
        background-size: 90px 90px; }
    body #banner #left-corner-bar {
      color: #707070;
      width: 350px;
      height: 30px;
      position: fixed;
      top: 0px;
      font-size: 0.8em;
      background-color: #F0F0F0;
      z-index: 100; }
      body #banner #left-corner-bar ul {
        margin: 5px;
        float: left; }
      body #banner #left-corner-bar li {
        list-style: none;
        display: inline; }
    body #banner #right-corner-bar {
      width: 180px;
      position: absolute;
      right: 0px;
      top: 0px; }
      body #banner #right-corner-bar img#cart-icon {
        width: 25px;
        float: left;
        margin-top: 7px; }
      body #banner #right-corner-bar #cart-item-count {
        margin-top: 10px;
        float: left;
        display: block;
        width: 20px;
        height: 20px; }
      body #banner #right-corner-bar #sign-in-out {
        float: right;
        font-size: 0.8em;
        font-weight: 400;
        margin: 10px 15px 0 5px;
        color: gray; }
        body #banner #right-corner-bar #sign-in-out a {
          color: #f56943; }
  body .hidden {
    display: none; }
  body p#notice {
    margin: 0px;
    color: #FFF !important;
    border-radius: 2px;
    font-weight: 100;
    font-size: 1.2em;
    background-color: #f56943;
    padding: 10px 10px 10px 50px; }
  body #main p.alert {
    margin: 4px; }
  body #main #container {
    padding: 0;
    margin-bottom: 3 0px; }
  body #main .alert {
    text-align: center;
    color: #f56943; }
  body #main .login-signin {
    color: #707070; }
    body #main .login-signin h2 {
      text-align: center; }
    body #main .login-signin .sign-in-box {
      width: 300px;
      margin: auto;
      padding: 20px; }
    body #main .login-signin input {
      outline: none; }
    body #main .login-signin .sign-in-btn {
      margin: 25px 0px 15px 0px;
      color: #707070;
      height: 35px;
      width: 301px;
      display: block;
      font-size: 1em;
      cursor: pointer;
      outline: none;
      border-radius: 4px;
      text-align: center;
      border: 3px solid #707070;
      background-color: rgba(0, 0, 0, 0); }
    body #main .login-signin a {
      color: #B1B1B1; }
      body #main .login-signin a:hover {
        color: #707070; }
  body #menu {
    padding: 1em 0em;
    width: 100%; }
    body #menu .active {
      color: #D8785D; }
    body #menu ul {
      padding: 0;
      min-width: 730px;
      width: 960px;
      margin: auto;
      text-align: center; }
      body #menu ul li {
        margin: 2%;
        list-style: none;
        display: inline; }
        body #menu ul li a {
          transition: color 0.5s ease;
          color: #767676;
          font-size: 1em;
          font-weight: 300; }
          body #menu ul li a:hover {
            color: #21a045; }
  body tr.discount-row {
    text-align: right; }
  body a {
    text-decoration: none; }
    body a:hover {
      background-color: none; }
  body a.qtip_email {
    color: #f56943; }
  body span.gc-cs-link {
    color: #707070; }
  body footer {
    height: 100px;
    color: #707070; }
    body footer ul {
      list-style: none; }
      body footer ul li {
        display: inline; }

.store-controller h2 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226; }
.store-controller p {
  font-weight: 200;
  font-size: 1em;
  padding: 0px 35px 5px; }
.store-controller #products-container {
  overflow: auto;
  margin: auto; }
.store-controller .entry {
  width: 100%;
  display: inline-block;
  background-color: #FFF;
  margin-bottom: 10px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  min-height: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .store-controller .entry img {
    width: 250px;
    height: 250px;
    float: left;
    display: block; }
  .store-controller .entry .product-details {
    overflow: auto;
    padding-left: 25px; }
    .store-controller .entry .product-details .title-price {
      width: 250px;
      height: 45px;
      margin: auto;
      margin-top: 1em;
      display: block;
      font-weight: 300; }
    .store-controller .entry .product-details .title {
      margin: 0px 0px 10px 0px;
      display: inline-block; }
      .store-controller .entry .product-details .title a {
        color: #707070; }
    .store-controller .entry .product-details .price {
      width: 65px;
      color: #17692e;
      font-size: 1.1em; }
      .store-controller .entry .product-details .price a {
        color: #17692e; }
    .store-controller .entry .product-details .product-description {
      margin: 0px 20px 20px 0px;
      color: #707070;
      width: 71%;
      font-weight: 200;
      font-size: 1em; }
    .store-controller .entry .product-details .add-to-cart {
      height: 60px;
      width: 195px;
      margin-left: -8px;
      position: relative; }
      .store-controller .entry .product-details .add-to-cart .add-to-cart-btn {
        color: white;
        height: 35px;
        width: 180px;
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #1d883b; }
        .store-controller .entry .product-details .add-to-cart .add-to-cart-btn:hover {
          background-color: #197C19; }
        .store-controller .entry .product-details .add-to-cart .add-to-cart-btn:active {
          background-color: #197C19; }

.arrow-up {
  width: 0;
  height: 0;
  top: -11px;
  left: 44%;
  margin: auto;
  position: absolute;
  border-left: 17px solid rgba(0, 0, 0, 0);
  border-right: 17px solid rgba(0, 0, 0, 0);
  border-bottom: 14px solid #FFF; }

#cart {
  position: absolute;
  top: 40px;
  right: 3px;
  width: 285px;
  margin: auto;
  padding: 15px;
  color: #707070;
  font-family: "Roboto", sans-serif;
  border: 5px solid #CFCFCF;
  font-weight: 300;
  font-size: 1em;
  background: #fff;
  border-radius: 4px;
  z-index: 100; }
  #cart h2 {
    color: #707070;
    margin-top: 0;
    font-size: 1.1em;
    padding-bottom: 10px;
    border-bottom: 2px solid #707070; }
  #cart table {
    border-collapse: collapse;
    margin: 10px 5px 15px 5px; }
  #cart td {
    height: 30px; }
  #cart td.item-name {
    width: 200px; }
  #cart .total_line tr {
    border-top: 1px solid #FFF; }
  #cart .total_line td {
    text-align: right; }
  #cart .item-price, #cart .total_line {
    text-align: right; }
  #cart .total_line .total_cell {
    width: 65px;
    font-weight: bold;
    border-top: 1px solid #fff; }
  #cart .empty-cart {
    float: right;
    font-size: 0.8em;
    color: #707070; }
  #cart .checkout {
    margin-top: 30px;
    position: relative; }
  #cart input#checkout-btn {
    color: #17692e;
    height: 35px;
    width: 150px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: white; }
    #cart input#checkout-btn:hover {
      background-color: #197C19; }
    #cart input#checkout-btn:active {
      background-color: #197C19; }

.products-controller {
  font-family: "Roboto", sans-serif;
  color: #707070; }
  .products-controller #product {
    margin: auto;
    width: 100%;
    overflow: auto;
    background-color: white; }
    .products-controller #product img {
      overflow: auto;
      float: left;
      padding: 1em 2em;
      width: 450px;
      width: 450px; }
    .products-controller #product #product-info {
      width: 50%;
      float: left; }
      .products-controller #product #product-info #product-title {
        padding-left: 1em;
        float: left; }
        .products-controller #product #product-info #product-title h2 {
          font-weight: 400;
          margin-bottom: 0; }
      .products-controller #product #product-info #product-description {
        float: left;
        padding: 1em;
        font-weight: 300; }
      .products-controller #product #product-info #product-price {
        margin-top: 2em;
        margin-bottom: 15px; }
        .products-controller #product #product-info #product-price .price {
          font-size: 1.3em; }
      .products-controller #product #product-info .add-to-cart {
        height: 45px;
        width: 210px;
        position: relative; }
      .products-controller #product #product-info .add-to-cart-btn {
        color: #f56943;
        height: 40px;
        width: 200px;
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: white; }
        .products-controller #product #product-info .add-to-cart-btn:hover {
          background-color: #197C19; }
        .products-controller #product #product-info .add-to-cart-btn:active {
          background-color: #197C19; }
  .products-controller #new-product {
    margin: 2em; }
  .products-controller #product-list {
    width: 100%;
    max-width: 1080px;
    margin: auto; }
    .products-controller #product-list table {
      width: 100%; }
      .products-controller #product-list table .list_line_odd {
        background: #EEE; }
      .products-controller #product-list table tr:hover {
        background-color: #F7F7F7; }
      .products-controller #product-list table .product-visibility {
        text-align: center; }
      .products-controller #product-list table .visible-product {
        color: green; }
      .products-controller #product-list table .hidden-product {
        color: orange; }
    .products-controller #product-list .new-product-btn {
      font-family: "Roboto", sans-serif;
      color: #f56943;
      height: 25px;
      width: 100px;
      display: block;
      font-size: 1em;
      cursor: pointer;
      outline: none;
      border-radius: 4px;
      text-align: center;
      border: 3px solid #f56943;
      background-color: #e9e9e9; }

.orders-controller {
  font-family: "Roboto", sans-serif; }
  .orders-controller #order-checkout {
    width: 100%;
    margin: auto; }
    .orders-controller #order-checkout .checkout-header {
      color: #707070;
      margin: auto;
      width: 700px; }
      .orders-controller #order-checkout .checkout-header h2 {
        margin-bottom: 10px;
        display: inline-block; }
      .orders-controller #order-checkout .checkout-header p {
        display: inline-block;
        font-weight: 200;
        margin: 5px; }
    .orders-controller #order-checkout .order-summary {
      margin: 0 12px; }
      .orders-controller #order-checkout .order-summary .summary {
        overflow: auto;
        width: 600px;
        background-color: #fff;
        margin: auto;
        padding: 10px 50px; }
        .orders-controller #order-checkout .order-summary .summary table {
          color: #707070;
          float: left;
          padding: 10px 30px; }
        .orders-controller #order-checkout .order-summary .summary .coupon-code {
          float: right;
          margin-top: 20px; }
          .orders-controller #order-checkout .order-summary .summary .coupon-code input#entered_code {
            border: none;
            height: 25px;
            font-size: 1.1em;
            background-color: #F3F3F3;
            outline: none;
            text-align: center;
            line-height: 1em;
            font-size: 1em;
            color: #707070; }
            .orders-controller #order-checkout .order-summary .summary .coupon-code input#entered_code::-webkit-input-placeholder {
              font-weight: 200; }
            .orders-controller #order-checkout .order-summary .summary .coupon-code input#entered_code:-moz-placeholder {
              /* Firefox 18- */
              font-weight: 200; }
            .orders-controller #order-checkout .order-summary .summary .coupon-code input#entered_code::-moz-placeholder {
              /* Firefox 19+ */
              font-weight: 200; }
            .orders-controller #order-checkout .order-summary .summary .coupon-code input#entered_code:-ms-input-placeholder {
              font-weight: 200; }
          .orders-controller #order-checkout .order-summary .summary .coupon-code #apply-coupon {
            color: #707070;
            cursor: pointer; }
        .orders-controller #order-checkout .order-summary .summary a.empty-cart {
          font-size: .9em;
          color: #B8B8B8;
          display: block;
          margin-top: 15px; }
          .orders-controller #order-checkout .order-summary .summary a.empty-cart:hover {
            color: #707070; }
        .orders-controller #order-checkout .order-summary .summary .coupon-validity {
          color: #F00;
          position: absolute;
          font-size: .8em; }
    .orders-controller #order-checkout fieldset {
      border: none;
      width: 730px;
      margin: auto;
      margin-bottom: 40px; }
      .orders-controller #order-checkout fieldset form .customer-info, .orders-controller #order-checkout fieldset form .billing-info {
        overflow: auto; }
      .orders-controller #order-checkout fieldset form #error_explanation {
        color: #f56943; }
        .orders-controller #order-checkout fieldset form #error_explanation h2 {
          font-weight: 400;
          font-size: 1em; }
        .orders-controller #order-checkout fieldset form #error_explanation li {
          font-weight: 100; }
      .orders-controller #order-checkout fieldset form label {
        font-weight: 100;
        display: block; }
      .orders-controller #order-checkout fieldset form input {
        outline: none;
        height: 35px;
        width: 335px;
        font-size: 1.2em;
        color: #808080;
        padding-left: 5px;
        border: none; }
        .orders-controller #order-checkout fieldset form input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0px 1000px #fff inset; }
      .orders-controller #order-checkout fieldset form select {
        height: 35px;
        width: 343px;
        font-size: 1em;
        border-radius: 1px;
        border: 2px solid #C5C5C5;
        line-height: 0em;
        color: #808080; }
      .orders-controller #order-checkout fieldset form .submit-area {
        position: absolute;
        bottom: 35px;
        right: 0px;
        width: 200px;
        height: 50px;
        float: right; }
      .orders-controller #order-checkout fieldset form #submit-btn {
        color: #17692e;
        height: 35px;
        width: 150px;
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: white; }
        .orders-controller #order-checkout fieldset form #submit-btn:hover {
          background-color: #197C19; }
        .orders-controller #order-checkout fieldset form #submit-btn:active {
          background-color: #197C19; }
      .orders-controller #order-checkout fieldset form #next-btn {
        color: #707070;
        height: 35px;
        width: 120px;
        display: block;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        border-radius: 4px;
        text-align: center;
        border: 3px solid #707070;
        background-color: #e9e9e9;
        float: left;
        margin: 15px 0px 5px 15px; }
      .orders-controller #order-checkout fieldset form br {
        display: none; }
      .orders-controller #order-checkout fieldset form .customer-info .field, .orders-controller #order-checkout fieldset form .billing-info .field {
        float: left;
        margin: auto;
        margin: 7px 15px;
        width: 45%;
        position: relative; }
      .orders-controller #order-checkout fieldset .checkout-btns {
        float: right;
        margin: 8px 15px; }
      .orders-controller #order-checkout fieldset .validation-msg {
        font-size: .8em;
        position: absolute;
        right: -10px;
        top: 0px; }
    .orders-controller #order-checkout #stripe_error {
      margin: 20px 10px;
      display: block;
      min-height: 30px;
      color: #F00; }
  .orders-controller .confirm-order {
    color: #707070; }
    .orders-controller .confirm-order .order-shipping-address,
    .orders-controller .confirm-order .order-billing-address {
      width: 320px;
      float: left; }
      .orders-controller .confirm-order .order-shipping-address p,
      .orders-controller .confirm-order .order-billing-address p {
        margin: 3px; }
  .orders-controller .order-finished {
    width: 600px;
    margin: auto;
    color: #707070; }
    .orders-controller .order-finished h2 {
      text-align: center; }
    .orders-controller .order-finished p {
      text-align: center;
      font-weight: 300; }
    .orders-controller .order-finished table {
      width: 600px; }
      .orders-controller .order-finished table th {
        font-weight: 300; }
      .orders-controller .order-finished table td.download-link {
        text-align: right; }
        .orders-controller .order-finished table td.download-link table {
          width: 300px; }
        .orders-controller .order-finished table td.download-link a.download-btn {
          float: right;
          color: #17692e;
          height: 17px;
          width: 50px;
          display: block;
          font-size: 1em;
          cursor: pointer;
          outline: none;
          border-radius: 4px;
          text-align: center;
          border: 3px solid #17692e;
          background-color: #e9e9e9;
          padding: 1px 7px;
          font-size: 0.7em;
          border: 2px solid #17692e; }
    .orders-controller .order-finished #download-info {
      display: block;
      padding-top: 60px;
      text-align: center;
      font-weight: 100; }
  .orders-controller .discount-row {
    height: 21px; }
  .orders-controller tr.shipping-row {
    text-align: right; }
  .orders-controller .item-quantity {
    width: 35px; }
  .orders-controller .item-name {
    width: 200px;
    text-align: center; }
  .orders-controller .item-price {
    width: 80px;
    text-align: right; }
  .orders-controller .order-discount {
    color: red; }
  .orders-controller .total_cell {
    text-align: right;
    font-weight: bold; }
  .orders-controller .total_line {
    text-align: right; }
  .orders-controller #all-orders {
    color: #707070; }
    .orders-controller #all-orders .list_line_odd {
      background: #EEE; }
    .orders-controller #all-orders table {
      width: 100%;
      font-size: .8em; }
      .orders-controller #all-orders table th.date-column {
        width: 70px;
        text-align: center; }
      .orders-controller #all-orders table tr:hover {
        background-color: #F7F7F7; }
      .orders-controller #all-orders table td {
        padding: 5px; }
  .orders-controller #order-show {
    color: #707070; }
    .orders-controller #order-show .order-details {
      float: left;
      margin: 0 15px; }
    .orders-controller #order-show table {
      width: 300px;
      margin: 100px 15px;
      float: left; }
    .orders-controller #order-show .order-links {
      clear: both; }

.users-controller {
  font-family: "Roboto", sans-serif;
  color: #707070; }
  .users-controller .purchase-history {
    text-align: center; }
  .users-controller table#users {
    width: 100%; }
    .users-controller table#users th {
      text-align: left; }
  .users-controller .user-orders {
    list-style: none;
    width: 670px;
    margin: auto;
    padding-left: 0px; }
    .users-controller .user-orders li.order-summary {
      color: #707070;
      margin: 20px 10px;
      padding: 20px 25px;
      font-size: 1em;
      font-weight: 300;
      font-family: "Roboto", sans-serif;
      border-radius: 3px;
      background-color: #fff; }
      .users-controller .user-orders li.order-summary table {
        border-collapse: collapse;
        width: 600px; }
        .users-controller .user-orders li.order-summary table th {
          font-weight: 300; }
        .users-controller .user-orders li.order-summary table .price {
          text-align: right;
          padding-right: 10px; }
        .users-controller .user-orders li.order-summary table .total-price {
          border-top: 1px solid #808080; }
        .users-controller .user-orders li.order-summary table td.download-link {
          width: 300px; }
          .users-controller .user-orders li.order-summary table td.download-link table {
            width: 300px; }
            .users-controller .user-orders li.order-summary table td.download-link table .video-name {
              float: left; }
        .users-controller .user-orders li.order-summary table a.download-btn {
          float: right;
          color: #707070;
          height: 17px;
          width: 50px;
          display: block;
          font-size: 1em;
          cursor: pointer;
          outline: none;
          border-radius: 4px;
          text-align: center;
          border: 3px solid #707070;
          background-color: white;
          padding: 1px 7px;
          font-size: 0.7em;
          border: 2px solid #707070; }

/* This is a compiled file, you should be editing the file in the templates directory */
.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s; }

.pace-inactive {
  display: none; }

.coupons-controller {
  font-family: "Roboto", sans-serif;
  color: #707070; }
  .coupons-controller #new-coupon {
    margin: 2em; }
  .coupons-controller #coupons-list {
    margin: auto;
    width: 1080px; }
    .coupons-controller #coupons-list table {
      width: 100%; }
      .coupons-controller #coupons-list table .center-text {
        text-align: center; }

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(/assets/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(/assets/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(/assets/controls.png) no-repeat -43px -32px; }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(/assets/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(/assets/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.videos-controller {
  font-family: "Roboto", sans-serif;
  color: #707070; }
  .videos-controller #videos-index {
    padding: 1em; }
  .videos-controller table .list_line_odd {
    background: #EEE; }
  .videos-controller table td {
    padding: 5px; }
  .videos-controller table tr:hover {
    background-color: #F7F7F7; }

.pages-controller {
  font-family: "Roboto", sans-serif;
  color: #707070; }
  .pages-controller #container {
    padding: 0px !important; }
    .pages-controller #container #home-page h3 {
      font-weight: 400;
      margin: 0px 0px 0px 25px; }
    .pages-controller #container #home-page .bx-wrapper {
      height: 600px;
      margin: 0 auto 50px; }
    .pages-controller #container #home-page .bxslider {
      margin: 0px;
      padding: 0px; }
    .pages-controller #container #home-page .video-thumbs {
      margin: auto;
      display: flex;
      width: 1070px; }
      .pages-controller #container #home-page .video-thumbs .preview {
        width: 220px;
        height: 260px;
        text-align: center;
        background-color: #FFF;
        margin: 10px;
        padding: 1em;
        border-bottom: 1px solid #DDD;
        min-height: 100px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        float: left; }
        .pages-controller #container #home-page .video-thumbs .preview a {
          transition: color 0.5s ease;
          color: #767676;
          font-size: 1em;
          font-weight: 300; }
          .pages-controller #container #home-page .video-thumbs .preview a:hover {
            color: #21A045; }
  .pages-controller #about-page p {
    font-weight: 200;
    font-size: 1em;
    padding: 0px 35px 20px; }
  .pages-controller #about-page .teacher {
    margin-bottom: 20px;
    background-color: #FFF;
    overflow: auto; }
    .pages-controller #about-page .teacher img {
      float: left;
      margin: 20px 35px 20px 20px;
      border: 1px solid #E9E9E9; }
    .pages-controller #about-page .teacher p {
      padding: 0px 35px; }
    .pages-controller #about-page .teacher .contact-teacher {
      clear: both;
      width: 230px;
      height: 70px;
      padding: 0 20px;
      text-align: center;
      font-weight: 400; }
      .pages-controller #about-page .teacher .contact-teacher a {
        color: #707070;
        height: 17px;
        width: 210px;
        display: block;
        font-size: 1em;
        cursor: pointer;
        outline: none;
        border-radius: 4px;
        text-align: center;
        border: 3px solid #707070;
        background-color: white;
        margin-top: 5px;
        display: inline-block;
        padding: 1px 7px 5px;
        font-size: 0.9em;
        border: 2px solid #707070; }
        .pages-controller #about-page .teacher .contact-teacher a:hover {
          color: #a3a3a3;
          border: 2px solid #bdbdbd; }
  .pages-controller #spine-therapy .story {
    padding: 30px;
    margin-bottom: 20px;
    background-color: #FFF; }
    .pages-controller #spine-therapy .story h3 {
      margin: 0px; }
    .pages-controller #spine-therapy .story img {
      float: left;
      margin: 0px 30px 15px 0px;
      border: 1px solid #E9E9E9; }
    .pages-controller #spine-therapy .story p {
      font-size: 1em;
      font-weight: 300; }
  .pages-controller #real-stories p {
    font-weight: 200;
    font-size: 1em;
    padding: 0px 35px 20px; }
  .pages-controller #real-stories .video-thumbs .preview {
    height: 365px; }

/* qTip2 v2.2.0 css3 | qtip2.com | Licensed MIT, GPL | Sun Dec 15 2013 20:05:26 */
.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  max-width: 280px;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  direction: ltr;
  box-shadow: none;
  padding: 0; }

.qtip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word; }

.qtip-titlebar {
  position: relative;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 0 0 1px;
  font-weight: 700; }

.qtip-titlebar + .qtip-content {
  border-top-width: 0 !important; }

.qtip-close {
  position: absolute;
  right: -9px;
  top: -9px;
  cursor: pointer;
  outline: medium none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent; }

.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px; }

* html .qtip-titlebar .qtip-close {
  top: 16px; }

.qtip-titlebar .ui-icon, .qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr; }

.qtip-icon, .qtip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none; }

.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-indent: 0;
  font: 400 bold 10px/13px Tahoma,sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em; }

.qtip-default {
  border-width: 1px;
  border-style: solid;
  border-color: #F1D031;
  background-color: #FFFFA3;
  color: #555; }

.qtip-default .qtip-titlebar {
  background-color: #FFEF93; }

.qtip-default .qtip-icon {
  border-color: #CCC;
  background: #F1F1F1;
  color: #777; }

.qtip-default .qtip-titlebar .qtip-close {
  border-color: #AAA;
  color: #111; }

.qtip-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15); }

.qtip-rounded, .qtip-tipsy, .qtip-bootstrap {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.qtip-rounded .qtip-titlebar {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.qtip-youtube {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
  color: #fff;
  border-width: 0;
  background: #4A4A4A;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4a4a), color-stop(100%, black));
  background-image: -webkit-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -moz-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -ms-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -o-linear-gradient(top, #4a4a4a 0, black 100%); }

.qtip-youtube .qtip-titlebar {
  background-color: #4A4A4A;
  background-color: rgba(0, 0, 0, 0); }

.qtip-youtube .qtip-content {
  padding: .75em;
  font: 12px arial,sans-serif;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#4a4a4a, EndColorStr=#000000);"; }

.qtip-youtube .qtip-icon {
  border-color: #222; }

.qtip-youtube .qtip-titlebar .ui-state-hover {
  border-color: #303030; }

.qtip-jtools {
  background: #232323;
  background: rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
  background-image: -moz-linear-gradient(top, #717171, #232323);
  background-image: -webkit-linear-gradient(top, #717171, #232323);
  background-image: -ms-linear-gradient(top, #717171, #232323);
  background-image: -o-linear-gradient(top, #717171, #232323);
  border: 2px solid #ddd;
  border: 2px solid #f1f1f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 12px #333;
  -moz-box-shadow: 0 0 12px #333;
  box-shadow: 0 0 12px #333; }

.qtip-jtools .qtip-titlebar {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171, endColorstr=#4A4A4A)"; }

.qtip-jtools .qtip-content {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A, endColorstr=#232323)"; }

.qtip-jtools .qtip-titlebar, .qtip-jtools .qtip-content {
  background: transparent;
  color: #fff;
  border: 0 dashed transparent; }

.qtip-jtools .qtip-icon {
  border-color: #555; }

.qtip-jtools .qtip-titlebar .ui-state-hover {
  border-color: #333; }

.qtip-cluetip {
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  background-color: #D9D9C2;
  color: #111;
  border: 0 dashed transparent; }

.qtip-cluetip .qtip-titlebar {
  background-color: #87876A;
  color: #fff;
  border: 0 dashed transparent; }

.qtip-cluetip .qtip-icon {
  border-color: #808064; }

.qtip-cluetip .qtip-titlebar .ui-state-hover {
  border-color: #696952;
  color: #696952; }

.qtip-tipsy {
  background: #000;
  background: rgba(0, 0, 0, 0.87);
  color: #fff;
  border: 0 solid transparent;
  font-size: 11px;
  font-family: 'Lucida Grande',sans-serif;
  font-weight: 700;
  line-height: 16px;
  text-shadow: 0 1px #000; }

.qtip-tipsy .qtip-titlebar {
  padding: 6px 35px 0 10px;
  background-color: transparent; }

.qtip-tipsy .qtip-content {
  padding: 6px 10px; }

.qtip-tipsy .qtip-icon {
  border-color: #222;
  text-shadow: none; }

.qtip-tipsy .qtip-titlebar .ui-state-hover {
  border-color: #303030; }

.qtip-tipped {
  border: 3px solid #959FA9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #F9F9F9;
  color: #454545;
  font-weight: 400;
  font-family: serif; }

.qtip-tipped .qtip-titlebar {
  border-bottom-width: 0;
  color: #fff;
  background: #3A79B8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a79b8), to(#2e629d));
  background-image: -webkit-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -moz-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -ms-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -o-linear-gradient(top, #3a79b8, #2e629d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8, endColorstr=#2E629D)"; }

.qtip-tipped .qtip-icon {
  border: 2px solid #285589;
  background: #285589; }

.qtip-tipped .qtip-icon .ui-icon {
  background-color: #FBFBFB;
  color: #555; }

.qtip-bootstrap {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  padding: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.qtip-bootstrap .qtip-titlebar {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0; }

.qtip-bootstrap .qtip-titlebar .qtip-close {
  right: 11px;
  top: 45%;
  border-style: none; }

.qtip-bootstrap .qtip-content {
  padding: 9px 14px; }

.qtip-bootstrap .qtip-icon {
  background: transparent; }

.qtip-bootstrap .qtip-icon .ui-icon {
  width: auto;
  height: auto;
  float: right;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20); }

.qtip-bootstrap .qtip-icon .ui-icon:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .4;
  filter: alpha(opacity=40); }

.qtip:not(.ie9haxors) div.qtip-content, .qtip:not(.ie9haxors) div.qtip-titlebar {
  filter: none;
  -ms-filter: none; }

.qtip .qtip-tip {
  margin: 0 auto;
  overflow: hidden;
  z-index: 10; }

x:-o-prefocus, .qtip .qtip-tip {
  visibility: hidden; }

.qtip .qtip-tip, .qtip .qtip-tip .qtip-vml, .qtip .qtip-tip canvas {
  position: absolute;
  color: #123456;
  background: transparent;
  border: 0 dashed transparent; }

.qtip .qtip-tip canvas {
  top: 0;
  left: 0; }

.qtip .qtip-tip .qtip-vml {
  behavior: url(#default#VML);
  display: inline-block;
  visibility: visible; }

#qtip-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#qtip-overlay.blurs {
  cursor: pointer; }

#qtip-overlay div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(Opacity=70)"; }

.contacts-controller #contact-form {
  margin: 0 auto 80px;
  width: 750px; }
  .contacts-controller #contact-form h3 {
    color: #707070; }
  .contacts-controller #contact-form form .error {
    font-size: 0.9em;
    color: #f56943;
    font-weight: 300; }
  .contacts-controller #contact-form form .contact_name {
    float: left; }
  .contacts-controller #contact-form form .contact_email {
    float: right; }
  .contacts-controller #contact-form form .contact_message {
    clear: both; }
  .contacts-controller #contact-form form .contact_name, .contacts-controller #contact-form form .contact_email {
    height: 80px;
    width: 46%;
    display: inline-block; }
    .contacts-controller #contact-form form .contact_name input, .contacts-controller #contact-form form .contact_email input {
      width: 100%;
      outline: none;
      height: 35px;
      font-size: 1.2em;
      color: #808080;
      border: none; }
  .contacts-controller #contact-form form #contact_message {
    width: 100%;
    outline: none;
    font-size: 1em;
    color: #808080;
    border: none; }
  .contacts-controller #contact-form form label {
    font-weight: 100;
    display: block; }
  .contacts-controller #contact-form form .message-btn {
    color: #707070;
    height: 35px;
    width: 120px;
    display: block;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    text-align: center;
    border: 3px solid #707070;
    background-color: #e9e9e9;
    float: right;
    margin: 10px -5px 10px 0px; }
.contacts-controller #after-message {
  text-align: center;
  color: #707070;
  margin: 50px; }
