<h2>All Users</h2>

<table id='users'>
  <thead>
    <th>ID</th>
    <th>Email</th>
    <th>Last Sign In</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <% @users.each do |user| %>
        <td><%= user.id %></td>
        <td><%= link_to(user.email, "/users/#{user.id.to_s}") %></td>
        <td><%= user.last_sign_in_at %></td>
        <td><%= %></td>
      </tr>
    <% end %>
  </tbody>
</table>