<div id='order-checkout'>
  <p id="error"><%= flash[:error] %></p>
  <% if !@order.current_step == '0' %>
    <%= render 'order_summary' %>
  <% end %>

    <fieldset>
      <%= render 'form' %>
    </fieldset>

</div>