<div id='order-checkout'>
  <p id="error"><%= flash[:error] %></p>
  <%= render 'order_summary' %>

    <fieldset>
      <legend>Please Enter Your Details</legend>
      <%= render 'form' %>
    </fieldset>

</div>