<div id='order-checkout'>
  <p id="error"><%= flash[:error] %></p>
  <% if @order.total_price %>
    <%= render 'order_summary' %>
  <% end %>

    <fieldset>
      <%= render 'form' %>
    </fieldset>

</div>