<div id='order-checkout'>
  <div class='customer-info'>
    <fieldset>
      <legend>Please Enter Your Details</legend>
      <%= render 'form' %>
    </fieldset>
  </div>

  <div class='billing-info'>
    <fieldset>\
      <legend>Please Enter Your Billing Info</legend>
    </fieldset>

  </div>
</div>