<div id='about-page'>
  <%= image_tag('wall.jpg') %>
  <div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class='teacher'>
    <%= image_tag('Jessica.jpg', id: 'teacher-img') %>
    <h3>Jessic Shi</h3>
    <div class='bio'>
      <p>
        Jessica Shi is an athlete, writer, ex-investment banker, and (anatomy) geek. But most of all, she is a yoga teacher who loves her students and is insanely passionate about what she does. She hugs her skeleton buddy (Fred) everyday, meditates, and constantly studies movement. She OMs every once in a while and cracks inappropriate jokes. If you take her classes you'll be wowed at what she can spot in your body, and even slightly freaked out by how much she sees and corrects. She is open, direct, humorous, and extremely empathetic and patient. Through teaching, she strives to help you become aware of, understand and appreciate every part of you. Jess teaches group classes and sees clients privately for a wide range of spine-related issues. To follow her blog, go to www.jessicashi.com

        Jessica's primary teachers are: her own body with its myriad of injuries, Michel Besnard and Elise Miller (www.ebmyoga.com). She currently studies with JinSung (www.oaklandyogastudio.com) and pays great homage to his teaching and wisdom.
      </p>
    </div>
    <div class='contact-teacher' data-email="email@example.com", data-phone="333 333 3333">
      <span>For individual work</span>
      <a href='#'>Contact Jessica</a>
    </div>
  </div>
  <div class='teacher'>
    <%= image_tag('Vita.png', id: 'teacher-img') %>
    <h3>Vita Zus Burwell</h3>
    <div class='bio'>
      <p>
        A dancer, formally trained in Vinyasa style of asana, I appreciate a fluid, meditative flow of connected breath and body movement. I make sure that my students understand safe principles of skeletal alignment and healthy muscular form, but do encourage them to listen inwardly for their own authentic mindbody response. My primary goal is to teach that intuitive connection to oneself, curiosity and exploration.

        I intend to create a nurturing space for students to grow their practice, feel inspired, ask questions, stretch their patience, strengthen confidence, get grounded and take off.

        My classes are personalized and inspired by the students; in the end of it all, we come together to move, breathe, relax and have a good time.
      </p>
    </div>
    <div class='contact-teacher' data-email="senco@example.com", data-phone="444 444 4444">
      <span>For individual work</span>
      <a href='#'>Contact Vita</a>
    </div>
  </div>
</div>