<div id='about-page'>
  <%= image_tag('wall.jpg') %>
  <div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class='teacher'>
    <%= image_tag('Jessica.jpg', id: 'teacher-img') %>
    <h3>Jessic Shi</h3>
    <div class='bio'>
      <p>
        Jessica Shi is a spine therapist and the owner of Tree of Life Yoga and Spine Therapy in Emeryville, California. She comes from a family of back pain sufferers, and has first hand experience with a variety of spine ailments, including: stenosis, scoliosis, disc diseases and sciatica. She rehabilitated her own spine injuries through various forms of manual therapy, and continues to share her practice with her clients.
      </p>
      <p>
        Jessica's approach is unique and catered to each individual. It is deeply rooted in the scientific principles of anatomy and kinesiology, and incorporates energetic and breath work that is more intuitive and psychosomatic. No two bodies are alike, even if the patterns of pain are similar. She adapts her work according to each client's specific needs and body type, and empowers her clients to become more aware of their own.
      </p>
    </div>
    <div class='contact-teacher' data-email="email@example.com", data-phone="333 333 3333">
      <span>For individual work</span>
      <span class='contact-info'>Contact Jessica</span>
    </div>
  </div>
  <div class='teacher'>
    <%= image_tag('Vita.png', id: 'teacher-img') %>
    <h3>Vita Zus Burwell</h3>
    <div class='bio'>
      <p>
        Vita Zus Burwell has been working and studying with Jessica Shi at Tree of Life since early 2013. Body awareness and movement has always been part of her life: gymnastics, long distance running, eleven years of dance with ballet foundation, eight years of yoga practice.
      </p>
      <p>
        Vita believes in the interconnected body-mind system approach to health and happiness: when our physical bodies are in optimal health and alignment, the overall quality of life is uplifted. Having trained and worked with various bodywork professionals and therapists, she brings her rich background into her work. She loves teaching her clients to move safely, access deep and subtle sensations, and understand the cause-effect of their habitual patterns.
      </p>
    </div>
    <div class='contact-teacher' data-email="senco@example.com", data-phone="444 444 4444">
      <span>For individual work</span>
      <span class='contact-info'>Contact Vita</span>
    </div>
  </div>
</div>