
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<ul class="bxslider">
  <% @slides.each do |slide| %>
    <li><%= image_tag slide.url.url(:large).to_s %></li>
  <% end %>
</ul>

<div id='video-thumbs'>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/8kenx9lrrb?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/65f34ff3b5d80979657b6af474fc9e64d5e22003.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/awy1jugwr4?popover=true" class="wistia-popover[height=478,playerColor=7b796a,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/98f2a32e690462e3fc3eb4cbc1f7bf5a2c7f81de.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=217x217" alt="" /></a>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/es7tb6yi5e?popover=true" class="wistia-popover[height=478,playerColor=7b796a,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/5534311553b0b07390fefb3d5e18a1c9dce305c2.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=217x217" alt="" /></a>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/tf77a37zdd?popover=true" class="wistia-popover[height=478,playerColor=7b796a,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/7d09b83bd370bbf92ccf4fa362549d55d07b0050.jpg?image_play_button=true&image_play_button_color=7b796ae0&image_crop_resized=217x217" alt="" /></a>
    </div>
</div>

<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>