<div id='real-stories'>
  <p>
    Almost everyone suffers from some form of back pain in their lifetimes.  Some minor, some severe.  We can often identify and empathize through our common experiences.  Here are a few of my clients sharing their stories.
  </p>

  <div class='video-thumbs'>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/9nghlp8rz9?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/ef90c2eca3302849e5c1a35cf6a06bbc36281a72.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
      <div>
        <h4>Dan Jewett</h4>
        <p>Journalist, musician</p>
        <p>Sciatica, lower back and hip injury</p>
        <p>Past: Cortisone shots, 7 pain meds a day</p>
        <p>Current: no pain meds</p>
      </div>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/roagd7otnb?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/1b31278bbb7a05c4bc831ac0569c068f778ebed6.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
      <div>
        <h4>Gail Hotten</h4>
        <p>Inventory planner, fitness coach</p>
        <p>Chronic and intermittent lower back and glute pain</p>
      </div>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/ajiw7tthip?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/0c2d2e740d9772571e6f775cae9e6cd4e7e6c754.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
      <div>
        <h4>Ian Crew</h4>
        <p>Information technologist</p>
        <p>Sciatica, leg and knee pain</p>
        <p>Past: narcotic pain meds, Advil</p>
        <p>Current: occasional Advil</p>
      </div>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/ztwi97kr28?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/15193025062cdd9ac4d7deb417bf09637aa49e3b.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
      <div>
        <h4>Ken Kokka</h4>
        <p>Visual FX producer, Judo instructor</p>
        <p>Chronic lower back, glute pain, various athletic injuries</p>
      </div>
    </div>
  </div>

</div>