<div id='real-stories'>
  <p>
    Artisan small batch gastropub, Williamsburg Brooklyn gluten-free PBR Tonx you probably haven't heard of them disrupt fashion axe Bushwick next level Schlitz. Distillery Tumblr McSweeney's yr, 90's Schlitz Banksy Austin. Flexitarian readymade fixie chia. Tattooed next level distillery small batch, YOLO leggings blog Thundercats chambray Helvetica seitan bicycle rights jean shorts before they sold out. Plaid hashtag wayfarers, bicycle rights fixie locavore American Apparel Echo Park viral mumblecore seitan semiotics typewriter wolf. Pitchfork roof party tattooed literally, salvia mustache sartorial retro American Apparel biodiesel Godard Thundercats messenger bag jean shorts Tumblr. Bitters artisan Tumblr selfies, kogi yr Etsy 3 wolf moon.
  </p>

  <div class='video-thumbs'>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/8kenx9lrrb?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/65f34ff3b5d80979657b6af474fc9e64d5e22003.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/awy1jugwr4?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/98f2a32e690462e3fc3eb4cbc1f7bf5a2c7f81de.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/es7tb6yi5e?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/5534311553b0b07390fefb3d5e18a1c9dce305c2.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
    </div>
    <div class='preview'>
      <a href="//fast.wistia.net/embed/iframe/tf77a37zdd?popover=true" class="wistia-popover[height=478,playerColor=c5c5c5,width=800]"><img src="https://embed-ssl.wistia.com/deliveries/7d09b83bd370bbf92ccf4fa362549d55d07b0050.jpg?image_play_button=true&image_play_button_color=c5c5c5e0&image_crop_resized=217x217" alt="" /></a>
    </div>
  </div>

</div>