
<div id='spine-therapy'>
  <div class='story'>
    <%= image_tag('Spine1.jpg') %>
    <h3>For Individuals</h3>
    <p>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>
    <p>
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </p>
  </div>

  <div class='story'>
    <%= image_tag('Spine2.jpg') %>
    <h3>For Health Care Practitioners</h3>
    <p>
      Authentic cardigan tousled, vegan ugh fingerstache Intelligentsia polaroid. Chia artisan next level synth High Life. Mustache cliche authentic, four loko fanny pack kitsch gentrify PBR art party brunch Blue Bottle pug. Before they sold out authentic Portland, VHS dreamcatcher cardigan 90's. DIY tousled keffiyeh hashtag actually, Portland meh chia dreamcatcher. Seitan meggings pour-over vegan actually lo-fi. Kogi slow-carb squid, swag fap Neutra American Apparel food truck.
    </p>
    <p>
      Artisan small batch gastropub, Williamsburg Brooklyn gluten-free PBR Tonx you probably haven't heard of them disrupt fashion axe Bushwick next level Schlitz. Distillery Tumblr McSweeney's yr, 90's Schlitz Banksy Austin. Flexitarian readymade fixie chia. Tattooed next level distillery small batch, YOLO leggings blog Thundercats chambray Helvetica seitan bicycle rights jean shorts before they sold out. Plaid hashtag wayfarers, bicycle rights fixie locavore American Apparel Echo Park viral mumblecore seitan semiotics typewriter wolf. Pitchfork roof party tattooed literally, salvia mustache sartorial retro American Apparel biodiesel Godard Thundercats messenger bag jean shorts Tumblr. Bitters artisan Tumblr selfies, kogi yr Etsy 3 wolf moon.
    </p>
    <p>
      Leggings mixtape Pitchfork pug. Blue Bottle 90's XOXO locavore, American Apparel authentic mixtape Helvetica Tumblr. Scenester wayfarers literally blog, street art selfies ennui sustainable. Banjo asymmetrical mumblecore, put a bird on it chia paleo farm-to-table forage actually sartorial Bushwick Marfa readymade mixtape 90's. Put a bird on it slow-carb polaroid, food truck Banksy +1 cliche cornhole sustainable gastropub Thundercats lomo Tumblr. Cosby sweater kitsch twee roof party, 90's chambray master cleanse deep v before they sold out dreamcatcher skateboard tousled art party. Four loko Thundercats craft beer tofu, slow-carb lomo narwhal twee swag asymmetrical.
    </p>
  </div>
</div>