
<div id='spine-therapy'>
  <p>
    Tree of Life Spine Therapy is a unique, individual-based practice.  There are no machines, drugs, or anything invasive.  There is no set methodology either, because I simply don't believe that a set of rules, principles, or theories can apply to everyone.  My approach is simple and straight forward -- look at the client -- the way he / she walks, stands, sits down, bends over, reaches for something, etc.  Although my practice is deeply rooted in the scientific principles of human anatomy and kinesiology, my approach encompasses the entire body, energetic channels, and every aspect of musculoskeletal alignment.  For example, lower back or neck and shoulder pain are never standalone issues.  Although the symptoms derive from a pinched nerve or bulging disc, the causes are often a myriad of imbalances throughout the body - uneven pelvis, mild scoliosis, overly burdened or dull muscles in particular areas.
  </p>
  <p>
    In working with each client, I strive to not only get him / her out of pain.  Learning about the body, the causes of problems and imbalances, and how to empower my clients to understand and address their own issues is what I strive for.  In a world where healthcare is burdened by insurance policies and piles of paperwork, where doctors are either overwhelmed by the number of patients they must see, or limited by what they're able to offer, taking ownership of our bodies and health is crucial to our well-being.
  </p>
  <p>
    The therapy I offer requires you to learn, do homework, practice simple exercises, and stay committed.  It is not a quick fix and there are no gimmicks or easy solutions.  I help you understand the possible causes of your pain and issues, show you the proper ways to engage, activate, stretch, and move your bodies, but you have to do the work.  My clients are everyday people -- from office workers to doctors to triathletes, from ages 19 - 75.  It doesn't matter how stiff or flexible you are, or how lean or overweight.  Anyone can do this work and get out of chronic pain, as long as you stay committed to your own health and well-being.
  </p>
  <!-- <div class='story'>
    <%= image_tag('Spine1.jpg') %>
    <h3>For Individuals</h3>
    <p>
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
    </p>
    <p>
      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </p>
  </div>
 -->
<!--   <div class='story'>
    <%= image_tag('Spine2.jpg') %>
    <h3>For Health Care Practitioners</h3>
    <p>
      Authentic cardigan tousled, vegan ugh fingerstache Intelligentsia polaroid. Chia artisan next level synth High Life. Mustache cliche authentic, four loko fanny pack kitsch gentrify PBR art party brunch Blue Bottle pug. Before they sold out authentic Portland, VHS dreamcatcher cardigan 90's. DIY tousled keffiyeh hashtag actually, Portland meh chia dreamcatcher. Seitan meggings pour-over vegan actually lo-fi. Kogi slow-carb squid, swag fap Neutra American Apparel food truck.
    </p>
    <p>
      Artisan small batch gastropub, Williamsburg Brooklyn gluten-free PBR Tonx you probably haven't heard of them disrupt fashion axe Bushwick next level Schlitz. Distillery Tumblr McSweeney's yr, 90's Schlitz Banksy Austin. Flexitarian readymade fixie chia. Tattooed next level distillery small batch, YOLO leggings blog Thundercats chambray Helvetica seitan bicycle rights jean shorts before they sold out. Plaid hashtag wayfarers, bicycle rights fixie locavore American Apparel Echo Park viral mumblecore seitan semiotics typewriter wolf. Pitchfork roof party tattooed literally, salvia mustache sartorial retro American Apparel biodiesel Godard Thundercats messenger bag jean shorts Tumblr. Bitters artisan Tumblr selfies, kogi yr Etsy 3 wolf moon.
    </p>
    <p>
      Leggings mixtape Pitchfork pug. Blue Bottle 90's XOXO locavore, American Apparel authentic mixtape Helvetica Tumblr. Scenester wayfarers literally blog, street art selfies ennui sustainable. Banjo asymmetrical mumblecore, put a bird on it chia paleo farm-to-table forage actually sartorial Bushwick Marfa readymade mixtape 90's. Put a bird on it slow-carb polaroid, food truck Banksy +1 cliche cornhole sustainable gastropub Thundercats lomo Tumblr. Cosby sweater kitsch twee roof party, 90's chambray master cleanse deep v before they sold out dreamcatcher skateboard tousled art party. Four loko Thundercats craft beer tofu, slow-carb lomo narwhal twee swag asymmetrical.
    </p>
  </div> -->
</div>

<div id='about-page'>
  <div class='teacher'>
    <%= image_tag('Jessica.jpg', class: 'teacher-img') %>
    <h3>Jessic Shi</h3>
    <div class='bio'>
      <p>
        Jessica Shi is a spine therapist and the owner of Tree of Life Yoga and Spine Therapy in Emeryville, California. She comes from a family of back pain sufferers, and has first hand experience with a variety of spine ailments, including: stenosis, scoliosis, disc diseases and sciatica. She rehabilitated her own spine injuries through various forms of manual therapy, and continues to share her practice with her clients.
      </p>
      <p>
        Jessica's approach is personal and catered to each individual. It is deeply rooted in the scientific principles of anatomy and kinesiology, and incorporates energetic and breath work that is more intuitive and psychosomatic. No two bodies are alike, even if the patterns of pain are similar. She adapts her work according to each client's specific needs and body type, and empowers her clients to become more aware of their own.
      </p>
    </div>
    <div class='contact-teacher' data-email="email@example.com", data-phone="333 333 3333">
      <span>For individual work</span>
      <span class='contact-info'>Contact Jessica</span>
    </div>
  </div>
</div>