
<div id='spine-therapy'>
  <%= image_tag('spine-therapy.jpg') %>
  <p>
    Tree of Life Spine Therapy is a unique, individual-based practice.  There are no machines, drugs, or anything invasive.  There is no set methodology either, because I simply don't believe that a set of rules, principles, or theories can apply to everyone.  My approach is simple and straight forward -- look at the client -- the way he / she walks, stands, sits down, bends over, reaches for something, etc.  Although my practice is deeply rooted in the scientific principles of human anatomy and kinesiology, my approach encompasses the entire body, energetic channels, and every aspect of musculoskeletal alignment.  For example, lower back or neck and shoulder pain are never standalone issues.  Although the symptoms derive from a pinched nerve or bulging disc, the causes are often a myriad of imbalances throughout the body - uneven pelvis, mild scoliosis, overly burdened or dull muscles in particular areas.
  </p>
  <p>
    In working with each client, I strive to not only get him / her out of pain.  Learning about the body, the causes of problems and imbalances, and how to empower my clients to understand and address their own issues are what I strive for.  In a world where healthcare is burdened by insurance policies and piles of paperwork, where doctors are either overwhelmed by the number of patients they must see, or limited by what they're able to offer, taking ownership of our bodies and health is crucial to our well-being.
  </p>
  <p>
    The therapy I offer requires you to learn, do homework, practice simple exercises, and stay committed.  It is not a quick fix and there are no gimmicks or easy solutions.  I help you understand the possible causes of your pain and issues, show you the proper ways to engage, activate, stretch, and move your bodies, but you have to do the work.  My clients are everyday people -- from office workers to doctors to triathletes, from ages 19 - 75.  It doesn't matter how stiff or flexible you are, or how lean or overweight.  Anyone can do this work and get out of chronic pain, as long as you stay committed to your own health.
  </p>
</div>

<div id='about-page'>
  <div class='teacher'>
    <%= image_tag('Jessica-Shi-sq.jpg', class: 'teacher-img') %>
    <h3>Jessica Shi</h3>
    <div class='bio'>
      <p>
        Jessica Shi is a spine therapist and the owner of Tree of Life Yoga and Spine Therapy in Emeryville, California. She comes from a family of back pain sufferers, and has first hand experience with a variety of spine ailments, including: stenosis, scoliosis, disc diseases and sciatica. She rehabilitated her own spine injuries through various forms of manual therapy, and continues to share her practice with her clients.
      </p>
    </div>
    <div class='contact-teacher' data-email="email@example.com", data-phone="333 333 3333">
      <a href='/contact'><span class='contact-info'>Contact Jessica for Individual Work</span></a>
    </div>
  </div>
</div>