// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrow-up {
  width: 0;
  height: 0;
  top: -7px;
  left: 43.5%;
  margin: auto;
  position: absolute;
  border-left: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-bottom: 11px solid #fff;
}

#cart {
  position: absolute;
  top: 40px;
  right: 115px;
  width: 300px;
  margin: auto;
  padding: 15px;
  color: $gray;
  font-family: $roboto;
  font-weight: 300;
  font-size: 1em;
  background: #fff;
  border-radius: 4px;

  h2 {
    color: $gray;
    margin-top: 0;
    font-size: 1.1em;
    padding-bottom: 10px;
    border-bottom: 2px solid $gray;
  }

  table {
    border-collapse: collapse;
    margin: 10px 5px 15px 5px;
  }

  td {
    height: 30px;
  }

  td.item-name {
    width: 200px;
  }

  .total_line {
    tr {
      border-top: 1px solid #FFF;
    }

    td {
      text-align: right;
    }
  }

  .item-price, .total_line {
    text-align: right;
  }
  .total_line .total_cell {
    width: 65px;
    font-weight: bold;
    border-top: 1px solid #fff;
  }

  .empty-cart {
    float: right;
    font-size: 0.8em;
    color: #fff;
  }

  .checkout {
    margin-top: 30px;
    position: relative;
  }

  input#checkout-btn {
    @include shadow-button($green, #fff, 150px, 35px);
  }
}

