// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#cart {
  position: absolute;
  top: 40px;
  right: 155px;
  width: 300px;
  margin: auto;
  padding: 15px;
  color: #fff;
  font-family: $roboto;
  font-weight: 300;
  font-size: 1em;
  background: $green;
  border-radius: 4px;

  h2 {
    font-size: 1em;
    color: #fff;
    margin-top: 0;
    border-bottom: 2px solid #fff;
  }

  table {
    border-collapse: collapse;
    margin: 10px 5px 15px 5px;
  }

  td {
    height: 30px;
  }

  td.item-name {
    width: 200px;
  }

  .total_line {
    tr {
      border-top: 1px solid #FFF;
    }

    td {
      text-align: right;
    }
  }

  .item-price, .total_line {
    text-align: right;
  }
  .total_line .total_cell {
    width: 65px;
    font-weight: bold;
    border-top: 1px solid #fff;
  }

  .empty-cart {
    float: right;
    font-size: 0.8em;
    color: #fff;
  }

  input#checkout-btn {
    color: #fff;
    font-size: 1em;
    background-color: $green;
    height: 35px;
    width: 150px;
    border: 3px solid #fff;
    border-radius: 4px;
  }
}

