// Place all the styles related to the Coupons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.coupons-controller {
  font-family: $roboto;
  color: $gray;

  #coupons-list {
    margin: auto;
    width: 1080px;

    table {
      width: 100%;

      .center-text {
        text-align: center;
      }
    }
  }
}