$gray: #707070;
$green: #17692e;
$orange: #FF8F00;
$roboto: 'Roboto', sans-serif;

@mixin simple-button($color, $background, $width) {
    color: $color;
    height: 35px;
    width: $width;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    border: 3px solid $color;
    background-color: $background;
}