$gray: #707070;
$background-gray: #F3F3F3;
$button-green: #44B476;
$button-gray: #bbb;
$green: #17692e;
$hover: #21A045;
$orange: #EC8C72;
$roboto: 'Roboto', sans-serif;

@mixin text-on-gray($padding) {
  font-weight: 200;
  font-size: 1em;
  padding: $padding;
}

@mixin preview($height, $width) {
  width: $width;
  height: $height;
  text-align: center;
  background-color: #FFF;
  margin: 10px;
  padding: 1em;
  border-bottom: 1px solid #DDD;
  min-height: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  float: left;

  a {
    transition: color 0.5s ease;
    color: #767676;
    font-size: 1em;
    font-weight: 300;
    &:hover {
      color: #21A045;
    }
  }
}

@mixin simple-button($color, $background, $width, $height) {
  color: $color;
  height: $height;
  width: $width;
  display: block;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  background-color: $background;
  &:hover {
    background-color: darken($background, 5%);
  }
}

@mixin shadow-button($color, $background, $width, $height) {
  color: $color;
  height: $height;
  width: $width;
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border: none;
  // border-radius: 4px;
  // border: 3px solid $color;
  background-color: $background;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: darken($background, 5%);
    transition: background-color 0.4s ease;
    // width: $width + $width/100 * 2;
    // height: $height + $height/100 * 5;
    // font-size: 1em + 1em/100 * 4;
    // @if $color == #fff {
    //   box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    // } @else {
    //   box-shadow: 0px 2px 6px rgba($color, 0.25);
    // }
  }

  &:active {
    background-color: #197C19;
    // width: $width;
    // height: $height;
    // font-size: 1em;
    // @if $color == #fff {
    //   box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    // } @else {
    //   box-shadow: 0px 1px 4px rgba($color, 0.25);
    // }
  }
}