#banner {
  background: #FFF;
  padding: 10px 0px 0px 0px;
  border-bottom: 3px solid $green;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: $orange;
  text-align: center;

  #right-corner-bar {
    width: 340px;
    position: absolute;
    right: 0px;
    top: 0px;

    img#cart-icon {
      width: 25px;
      float: left;
      margin-top: 7px;
    }

    #sign-in-out {
      float: right;
      margin-right: 25px;
      font-size: 0.4em;
      font-family: 'Advent Pro', sans-serif;
      color: gray;

      a {
        color: $orange;
      }
    }
  }
}

.hidden {
  display: none;
}

#notice {
  color: #FFF !important;
  border: 2px solid #DD5407;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgba(247, 105, 25, 0.86);
  font: bold smaller sans-serif;
}

#columns {

  #main {
    margin: 1em 2em;
    padding: 1em;
    background: white;
  }

  #side {
    padding: 1em 0em;
    width: 100%;

    ul {
      padding: 0;
      width: 70%;
      margin: auto;
      text-align: center;
      li {
        margin: 8%;
        list-style: none;
        display: inline;
        a {
          transition: color 0.5s ease;
          color: $orange;
          font-size: 1.4em;
          font-family: 'Advent Pro', sans-serif;
          font-weight: 500;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    background-color: none;
  }
}
