html {
  height: 100%;
}
body {
  width: 1100px;
  min-height: 100%;
  margin: auto;
  background: $background-gray;
  font-family: $roboto;

  #wrapper {
    height: 100%;
    overflow: auto;
    background-color: $background-gray;
  }

  #banner {
    height: 105px;
    padding: 10px 0px 0px 0px;
    position: relative;
    color: $orange;
    text-align: center;

    #mobile-menu {
      position: absolute;
      display: none;
    }

    #main-logo {
      display: inline-flex;

      .logo-text {
        color: #0A723B;
        font-size: 1.4em;
        margin: 36px 10px;
      }

      #logo {
        margin: auto;
        height: 90px;
        width: 90px;
        background-size: 90px 90px;
      }
    }

    #left-corner-bar {
      color: $gray;
      width: 350px;
      height: 30px;
      position: fixed;
      top: 0px;
      font-size: 0.8em;
      background-color: #F0F0F0;
      z-index: 100;

      ul {
        margin: 5px;
        float: left;
      }

      li {
        list-style: none;
        display: inline;
      }
    }

    #right-corner-bar {
      width: 180px;
      position: absolute;
      right: 0px;
      top: 0px;

      img#cart-icon {
        width: 25px;
        float: left;
        margin-top: 7px;
      }

      #cart-item-count {
        margin-top: 10px;
        float: left;
        display: block;
        width: 20px;
        height: 20px;
      }

      #sign-in-out {
        float: right;
        font-size: 0.8em;
        font-weight: 400;
        margin: 10px 15px 0 5px;
        color: gray;

        a {
          color: $orange;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  p#notice {
    margin: 0px;
    color: #FFF !important;
    border-radius: 2px;
    font-weight: 100;
    font-size: 1.2em;
    background-color: $orange;
    padding: 10px 10px 10px 50px;
  }


  #main {
    p.alert {
      margin: 4px;
    }

    #container {
      padding: 0;
      margin-bottom: 3 0px;
    }

      .alert {
        text-align: center;
        color: $orange;
      }

    .login-signin {
      color: $gray;

      h2 {
        text-align: center;
      }

      .sign-in-box {
        width: 300px;
        margin: auto;
        padding: 20px;
      }

      label {
        font-weight: 100;
      }

      input {
        outline: none;
        height: 35px;
        width: 98%;
        font-size: 1.2em;
        color: #808080;
        padding-left: 5px;
        border: none;
      }

      .sign-in-btn {
        margin: 25px 0px 15px 0px;
        @include simple-button(#fff, $button-gray, 301px, 35px);
      }

      a {
        color: #B1B1B1;

        &:hover {
          color: $gray;
        }
      }

    }
  }

  #menu {
    padding: 5px 0 15px 0;
    width: 100%;
    border-bottom: 3px solid #DDD;
    margin-bottom: 5px;

    .active {
      color: #D8785D;
    }

    ul {
      padding: 0;
      min-width: 730px;
      width: 960px;
      margin: auto;
      text-align: center;
      li {
        margin: 2%;
        list-style: none;
        display: inline;
        a {
          transition: color 0.5s ease;
          color: #767676;
          font-size: 1em;
          font-weight: 300;
          &:hover {
            color: $hover;
          }
        }
      }
    }
  }

  tr.discount-row {
    text-align: right;
  }

  a {
    text-decoration: none;
    &:hover {
      background-color: none;
    }
  }

  a.qtip_email {
    color: $orange;
  }

  span.gc-cs-link {
    color: $gray;
  }

  footer {
    height: 100px;
    color: $gray;
    margin-top: 15px;
    border-top: 1px solid #E6E6E6;

    ul {
      list-style: none;
      display: inline-block;
      float: right;
      padding-left: 0px;

      li {
        display: inline;
        .social {
          width: 35px;
          opacity: 0.25;
          &:hover {
            opacity: 0.35;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 568px) {
  body {
    width: 100%;

    #banner {
      height: 65px;

      #mobile-menu-button {
        position: absolute;
        display: block;

        .box-shadow-menu {
          position: relative;
          padding-left: 2.25em;
        }
        .box-shadow-menu:before {
          content: "";
          position: absolute;
          left: 0.5em;
          top: 0.25em;
          width: 1.5em;
          height: 0.3em;
          background: #AAA;
          box-shadow: 0 0.45em 0 0 #AAA, 0 0.9em 0 0 #AAA;
        }
      }

      #mobile-menu {
        position: absolute;
        background: #FFF;
      }

      #main-logo {

        .logo-text {
          font-size: 0.8em;
          margin: 25px 10px;
        }

        img#logo {
          width: 60px;
          height: 60px;
          background-size: 60px 60px;
        }
      }
    }

    #menu {
      display: none;
    }
  }

}
