
#banner {
  height: 105px;
  background: #FFF;
  padding: 10px 0px 0px 0px;
  border-bottom: 3px solid $green;
  color: $orange;
  text-align: center;

  #right-corner-bar {
    width: 340px;
    position: absolute;
    right: 0px;
    top: 0px;

    img#cart-icon {
      width: 25px;
      float: left;
      margin-top: 7px;
    }

    #cart-item-count {
      font-family: $roboto;
      margin-top: 10px;
      float: left;
      display: block;
      width: 20px;
      height: 20px;
    }

    #sign-in-out {
      float: right;
      margin-right: 20px;
      font-size: 0.8em;
      font-weight: 300;
      margin-top: 10px;
      font-family: $roboto;
      color: gray;

      a {
        color: $orange;
      }
    }
  }
}

.hidden {
  display: none;
}

#notice {
  color: #FFF !important;
  border-radius: 2px;
  margin-bottom: 2em;
  font-weight: 100;
  font-size: 1.2em;
  background-color: $orange;
  padding: 10px 10px 10px 50px;
  font-family: $roboto;
}

#columns {

  #main {
    margin: 1em 2em;
    padding: 1em;
    background: white;
  }

  #menu {
    padding: 1em 0em;
    width: 100%;

    ul {
      padding: 0;
      min-width: 730px;
      width: 960px;
      margin: auto;
      text-align: center;
      li {
        margin: 2%;
        list-style: none;
        display: inline;
        a {
          transition: color 0.5s ease;
          color: $orange;
          font-size: 1em;
          font-family: $roboto;
          font-weight: 300;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }
}

tr.discount-row {
  text-align: right;
}

a {
  text-decoration: none;
  &:hover {
    background-color: none;
  }
}
