// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders-controller {

  #order-checkout {
    width: 100%;
    margin: auto;

    .order-summary {
      margin: 0 12px;
      font-family: $roboto;
      background-color: #fff;

      .summary {
        overflow: auto;
        width: 550px;
        margin: auto;
        padding-top: 15px;

        table {
          color: $gray;
          float: left;
          margin-bottom: 25px;
          padding: 10px 30px;

          td.item-quantity {
            width: 35px;
          }

          td.item-name {
            width: 200px;
            text-align: center;
          }

          td.item-price {
            width: 80px;
            text-align: right;
          }

          td.total_cell {
            text-align: right;
            font-weight: bold;
          }

          .total_line {
            text-align: right;
          }
        }

        .coupon-code {
          float: right;
        }

        a.empty-cart {
          font-size: .9em;
          color: #B8B8B8;
          display: block;
          margin-top: 15px;

          &:hover {
            color: $gray;
          }
        }

        .coupon-validity {
          color: #F00;
          position: absolute;
          font-size: .8em;
        }
      }
    }

    fieldset {
      border: none;

      form {

        .customer-info, .billing-info {
          width: 500px;
          background: #fff;
          border-radius: 4px;
          margin-bottom: 50px;
          padding: 20px 0 40px 0;
        }

        #error_explanation {
          color: $orange;
          font-family: $roboto;
          h2 {
            font-weight: 400;
            font-size: 1em;
          }

          li {
            font-weight: 100;
          }
        }

        label {
          width: 5em;
          float: left;
          color: $green;
          text-align: right;
          padding-top: 1em;
          margin-right: 0.1em;
          display: block;
          font-weight: 100;
          font-family: $roboto;
        }

        input {
          font-size: 1.3em;
          line-height: 1.3em;
          color: $green;
          border: none;
          border-bottom: 2px solid $green;
          outline: none;
          margin-left: 10px;
          margin-bottom: 10px;
          padding-left: 5px;
          background-color: #fff;
        }

        select {
          margin-top: 15px;
          margin-left: 10px;
        }

        .submit-area {
          position: absolute;
          bottom: 35px;
          right: 0px;
          width: 200px;
          height: 50px;
          float: right;
        }

        #submit-btn {
          @include shadow-button($green, #fff, 150px, 35px);
        }

        br {
          display: none;
        }

        .customer-info {
          float: left;

          .field {
            margin-left: 25px;
          }
        }

        .billing-info {
          position: relative;
          min-height: 220px;
          float: right;
          label {
            width: 200px;
          }
        }
      }
    }

    #stripe_error {
      font-family: $roboto;
      margin-top: 20px;
      display: block;
      min-height: 30px;
      color: #F00;
    }
  }

  .order-finished {

    h2 {
      text-align: center;
    }
    width: 600px;
    margin: auto;
    color: $gray;
    font-family: $roboto;

    table {
      width: 600px;

      th {
        font-weight: 300;
      }

      td.download-link {
        text-align: right;

        table {
          width: 300px;
        }

        a.download-btn {
          float: right;
          @include simple-button($green, #fff, 50px, 17px);
          padding: 1px 7px;
          font-size: 0.7em;
          border: 2px solid $green;
        }
      }
    }

    #download-info {
      display: block;
      padding-top: 60px;
      text-align: center;
      font-weight: 100;
    }
  }
}