// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders-controller {
  #order-checkout {
    width: 1110px;
    margin: auto;

    .customer-info {
      float: left;
    }
    .billing-info {
      height: 420px;
      float: right;
    }
    .customer-info, .billing-info {
      width: 545px;
      background: #fff;
      border-radius: 4px;
      margin-bottom: 50px;

      fieldset {
        border: none;

        legend {
          color: $green;
          font-family: $roboto;
          padding: 0.2em 1em;
        }

        form {
          #error_explanation {
            h2, li {
              color: $green;
              font-weight: 100;
              font-family: $roboto;
            }
          }

          label {
            width: 5em;
            float: left;
            color: $green;
            text-align: right;
            padding-top: 1em;
            margin-right: 0.1em;
            display: block;
            font-weight: 100;
            font-family: $roboto;
          }

          input {
            font-size: 1.3em;
            line-height: 1.3em;
            color: $green;
            border: none;
            border-bottom: 2px solid $green;
            outline: none;
            margin-left: 10px;
            margin-bottom: 10px;
            padding-left: 5px;
            background-color: #fff;
          }

          select {
            margin-top: 15px;
            margin-left: 10px;
          }

          .submit-area {
            position: relative;
            width: 200px;
            height: 50px;
            float: right;
          }

          #submit-btn {
            @include shadow-button($green, #fff, 150px, 35px);
          }

          br {
            display: none;
          }
        }
      }
    }
  }
}