// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages-controller {
  font-family: $roboto;
  color: $gray;

  #container {
    padding: 0px !important;

    #home-page {

      h3 {
        font-weight: 400;
        margin: 0px 0px 0px 25px;
      }


      .bx-wrapper {
        height: 570px;
        margin: 0 auto 35px;

        img {
          max-width: 95%;
          margin: auto;
        }
      }

      .bxslider {
        margin: 0px;
        padding: 0px;
      }

      .video-thumbs {
        margin: auto;
        display: flex;
        width: 1070px;

        .preview {
          @include preview(265px, 220px);
        }
      }
    }
  }


  #about-page {
    margin-top: 35px;

    p {
      font-weight: 200;
      font-size: 1em;
      padding: 10px 0px;
    }

    .teacher {
      margin-bottom: 20px;
      background-color: #FFF;
      overflow: auto;

      img {
        width: 250px;
        float: left;
        margin: 20px 35px 10px 20px;
        border: 1px solid #E9E9E9;
      }

      p {
        padding: 0px 35px;
      }

      .contact-teacher {
        clear: both;
        width: 250px;
        height: 70px;
        padding: 0 20px;
        text-align: center;
        font-weight: 400;

        .contact-info {
          @include simple-button(#fff, $button-green, 238px, 20px);
          margin-top: 5px;
          display: inline-block;
          padding: 5px 7px 5px;
          font-size: 0.9em;

          &:hover {
            background-color: darken($button-green, 7%);
          }
        }
      }
    }
  }

  #spine-therapy {

    p {
      @include text-on-gray(0 0);
    }

    > img {
      height: 540px;
    }

    .story {
      padding: 30px;
      margin-bottom: 20px;
      background-color: #FFF;

      h3 {
        margin: 0px;
      }

      img {
        float: left;
        margin: 0px 30px 15px 0px;
        border: 1px solid #E9E9E9;
      }

      p {
        font-size: 1em;
        font-weight: 300;
      }
    }
  }

  #real-stories {

    p {
      @include text-on-gray(0px 15px);
    }

    .video-thumbs {
      overflow: auto;
      padding-left: 5px;

      .preview {
        @include preview(415px, 220px);

        h4 {
          margin: 10px 0px;
          text-align: left;
        }

        p {
          padding: 0;
          margin: 8px 0px;
          text-align: left;
        }
      }
    }
  }

  @media only screen and (max-width: 568px) {

    #about-page {
      p {
        padding: 10px 15px;
      }

      #about-image {
        width: 100%;
      }

      .teacher {
        img.teacher-img {
          width: 180px;
          margin: 15px 15px 10px 15px;
        }

        p {
          padding: 0px 15px;
        }
      }
    }

    #real-stories {

      p {
        padding: 10px 15px;
      }

      .video-thumbs {
        width: 100%;

        .preview {
          margin: auto;
          float: none;
        }
      }
    }

    #spine-therapy {
      margin-top: 10px;
      .story {
        padding: 15px;

        img {
          margin: 0px 15px 11px 0px;
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {

    #spine-therapy {

      .story {
        padding: 15px;

        img {
          float: none;
        }
      }
    }
  }
}