// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-controller {
  font-family: $roboto;
  // ******  SHOW PRODUCT PAGE
  #product {
    margin: auto;
    width: 1000px;
    overflow: auto;
    background-color: white;

    img {
      overflow: auto;
      float: left;
      padding: 1em;
      width: 450px;
      width: 450px;
    }

    #product-info {
      width: 50%;
      overflow: auto;

      #product-title {
        padding-left: 1em;
        float: left;
        h2 {
          font-weight: 400;
          margin-bottom: 0;
        }
      }

      #product-description {
        float: left;
        padding: 1em;
        font-weight: 300;
      }

      #product-price {
        margin-top: 2em;
        margin-bottom: 15px;
        .price {
          font-size: 1.3em;
        }
      }

      .add-to-cart {
        height: 45px;
        width: 210px;
        position: relative;
      }

      .add-to-cart-btn {
        @include shadow-button($orange, #fff, 200px, 40px);
      }
    }
  }

  // ******* NEW PRODUCT PAGE

  #new-product {
    margin: 2em;
  }

  // ******* PRODUCT INDEX PAGE

  #product-list {
    width: 100%;
    max-width: 1080px;
    margin: auto;

    table {
      width: 100%;

      .list_line_odd {
        background: #EEE;
      }

      tr:hover {
          background-color: #F7F7F7;
      }

      .product-visibility {
        text-align: center;
      }

      .visible-product {
        color: green;
      }

      .hidden-product {
        color: orange;
      }
    }

    .new-product-btn {
      font-family: $roboto;
      @include simple-button($orange, $background-gray, 100px, 25px);
    }
  }

}
