// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.products-controller {

  // ******  SHOW PRODUCT PAGE
  #product {
    font-family: $roboto;
    margin: auto;
    width: 1000px;

    #product-title {
      padding-left: 1em;
      width: 35%;
      float: left;
      h2 {
        font-weight: 400;
        margin-bottom: 0;
      }
    }

    img {
      float: left;
      padding: 1em;
    }

    #product-description {
      width: 30%;
      float: left;
      padding: 1em;
      font-weight: 300;
    }

    #product-price {
      margin-top: 2em;
      margin-bottom: 15px;
      .price {
        font-size: 1.3em;
      }
    }

    .add-to-cart {
      height: 45px;
      width: 210px;
      position: relative;
    }

    .add-to-cart-btn {
      @include shadow-button($orange, #fff, 200px, 40px);
    }
  }

  // ******* NEW PRODUCT PAGE


  // ******* PRODUCT INDEX PAGE

  #product-list {
    width: 100%;
    max-width: 1080px;
    margin: auto;

    table {
      width: 100%;

      .visible-product {
        color: green;
      }

      .hidden-product {
        color: orange;
      }
    }
  }

}
