.sessions-controller {
  font-family: $roboto;
  color: $gray;

  .alert {
    text-align: center;
    color: $orange;
  }

  .sign-in-box {
    width: 300px;
    margin: auto;
    padding: 20px;
  }

  input {
    outline: none;
  }

  input#user_email,
  input#user_password, {
    width: 290px;
  }

  .sign-in-btn {
    margin: 25px 0px 15px 0px;
    @include simple-button($gray, rgba(0, 0, 0, 0), 291px, 35px);
  }

  a {
    color: #B1B1B1;

    &:hover {
      color: $gray;
    }
  }
}