// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store-controller {
  h2 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
  }

  #products-container {
    overflow: auto;
    margin: auto;
  }

  .entry {
    width: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
    font-family: $roboto;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing: border-box;

    img {
      width: 250px;
      height: 250px;
      float: left;
      display: block;
    }

    .title-price{
      width: 250px;
      height: 45px;
      margin: auto;
      margin-top: 1em;
      display: block;
      font-weight: 300;
    }

    // form, div {
    //   display: inline;
    // }

    .title {
      margin: 0px 0px 10px 35px;
      display: inline-block;

      a {
        color: $gray;
      }
    }

    .price {
      float: left;
      margin: 8px;
      width: 65px;
      color: $green;
      font-size: 1.1em;

      a {
        color: $green;
      }
    }

    .product-description {
      margin: 0px 20px 20px 0px;
      float: right;
      color: $gray;
      width: 71%;
      font-weight: 200;
      font-size: 1em;
    }

    .add-to-cart {
      float: left;
      margin-left: 25px;
      height: 60px;
      width: 205px;
      position: relative;

      .add-to-cart-btn {
        @include shadow-button($gray, #fff, 180px, 35px);
      }
    }
  }
}