// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store-controller {
  h2 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
  }

  #products-container {
    overflow: auto;
    width: 940px;
    margin: auto;
  }

  .entry {
    width: 260px;
    height: 385px;
    background-color: #FFF;
    margin: 10px;
    padding: 1em;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
    font-family: $roboto;
    font-weight: 300;
    float: left;

    img {
      width: 250px;
      height: 250px;
      margin: auto;
      display: block;
    }

    .title-price{
      width: 250px;
      height: 45px;
      margin: auto;
      margin-top: 1em;
      display: block;
      font-weight: 300;
    }

    form, div {
      display: inline;
    }

    .title {
      float: left;
      width: 195px;
      color: #17692E;
      font-size: 1em;
    }

    .price {
      float: right;
      width: 55px;
    }

    .title, .price {
      color: $green;
      font-size: 1em;

      a {
        color: $green;
      }
    }

    .product-description {
      font-size: 0.9em;
      color: #808080;
    }
  }
}