// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  h2 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #226;
  }

  #products-container {
    max-width: 1300px;
    margin: auto;
  }

  .entry {
    width: 400px;
    height: 400px;
    margin-top: 1em;
    padding: 1em;
    border-bottom: 1px solid #ddd;
    min-height: 100px;
    font-family: $roboto;
    font-weight: 300;
    float: left;

    img {
      width: 350px;
      height: 320px;
      margin: auto;
      display: block;
    }

    .title-price{
      width: 350px;
      height: 70px;
      background-color: #197031;
      margin: auto;
      display: block;
    }

    form, div {
      display: inline;
    }

    .title {
      float: left;
      width: 200px;
      height: 50px;
    }

    .price {
      float: right;
      width: 65px;
    }

    .title, .price {
      color: #FFF;
      font-size: 1.3em;
      font-weight: 100;
      margin: 1em;
      a {
        color: #FFF;
      }
    }
  }
}