.users-controller {
  .user-orders {
    list-style: none;

    li.order-summary {
      width: 600px;
      color: #FFF;
      margin: 20px 10px;
      padding: 20px 25px;
      font-size: 1em;
      font-weight: 300;
      font-family: $roboto;
      border-radius: 3px;
      background-color: $green;

      table {
        width: 600px;

        th {
          font-weight: 300;
        }

        td.download-link {
          width: 300px;

          table {
            width: 300px;

            .video-name {
              float: left;
            }
          }
        }

        a.download-btn {
          float: right;
          @include simple-button(#fff, $green, 50px, 17px);
          padding: 1px 7px;
          font-size: 0.7em;
          border: 2px solid #fff;
        }
      }
    }
  }
}
