<div class='promotion'>
  <%= image_tag('card-sample.jpg') %>
  <p>Example of one card of the deck. Illustration on the front, description of the exercise on the back. Each card is approximately 4" x 6".</p>
</div>

<%= render 'list_products' %>