<div class='promotion'>
  <%= image_tag('card-sample.jpg') %>
<<<<<<< HEAD
  <p>Example of one card of the deck. Illustration on the front, description of the exercise on the back. Each card is approximately 4" x 6".</p>
=======
>>>>>>> b431f72ca22c7134d37a1955d63d17b8e44ffe31
</div>

<%= render 'list_products' %>