<%= render 'list_products' %>

<div class='promotion'>
  <%= image_tag('card-sample.jpg') %>
  <p>Example of one card of the deck. Illustration on the front, detailed description and modifications of the exercise on the back. Each card is approximately 4" x 6", printed on glossy card stock</p>

</div>
