<p class='therapy-description'>
  A creative approach to understanding back pain, bad posture, and sciatica.  Using real people, 3D animations and motion graphics, this video illustrates simple anatomy and functional movement. It demystifies the various causes and assumptions around lower back pain and sciatica.  The concepts and exercises are simple and straightforward, adapted for various body types and flexibility levels.
</p>
<p>
  The video is broken into five sections, each section teaches you about a specific area in the body that has a direct effect on lower back pain and ailments.  Purchase or download the video in its entirety, or a section at a time.
</p>
<%= render 'list_products' %>